# Compiled output
dist/
tmp/
out-tsc/
bazel-out/

# Node
node_modules/
npm-debug.log
yarn-error.log

# dotenv environment variables file
.env
.env.*

# System files
.DS_Store
Thumbs.db

# Editor files
*.swp
*.swo
*.vscode/
*.idea/